################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/63c3fd43-ffbe-45d7-9ca6-802d620e1758.vsidx
/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/47b25eb4-8820-431b-922a-a2750710de14.vsidx
