################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/63c3fd43-ffbe-45d7-9ca6-802d620e1758.vsidx
/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/47b25eb4-8820-431b-922a-a2750710de14.vsidx
/.vs/Advlab.git/v17/.wsuo
/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/1907575d-dbc2-42c2-8606-01421e3e1553.vsidx
/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/b72b4644-c138-4c65-b770-f65be50798d1.vsidx
/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/bede4b61-4082-4f55-8ffd-c8f4edff00e1.vsidx
/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/cec2895f-34ca-479b-be78-22384c478cb5.vsidx
/AdvLab_WebApi/AdvLab_WebApi/.vs/AdvLab_WebApi/FileContentIndex/ff7ed671-0b3c-4170-be5f-bb298f493d53.vsidx
/AdvLab_WebApp/AdvLab_WebApp/.vs/AdvLab_WebApp/FileContentIndex/2bd8d688-ffb3-4081-add6-05f54ff679bb.vsidx
/AdvLab_WebApp/AdvLab_WebApp/.vs/AdvLab_WebApp/FileContentIndex/45f9568b-4c57-454c-bd81-ccd4185c524c.vsidx
/AdvLab_WebApp/AdvLab_WebApp/.vs/AdvLab_WebApp/FileContentIndex/5d043cdd-ddf4-4585-9b77-7b761097c20f.vsidx
/AdvLab_WebApp/AdvLab_WebApp/.vs/AdvLab_WebApp/FileContentIndex/e0072718-9667-4454-bb92-5b56ec14d932.vsidx
/AdvLab_WebApp/AdvLab_WebApp/.vs/AdvLab_WebApp/FileContentIndex/fc808a08-bb29-4ea1-b789-b46f6c2c651a.vsidx
/AdvLab_WebApp/AdvLab_WebApp/.vs/AdvLab_WebApp/v14/.suo
/AdvLab_WebApp/AdvLab_WebApp/AdvLab_WebApp/obj/Debug/net8.0/project.razor.vs.bin
/ResumeManager/ResumeManager/.vs/ProjectEvaluation/resumemanager.metadata.v7.bin
/ResumeManager/ResumeManager/.vs/ProjectEvaluation/resumemanager.projects.v7.bin
/ResumeManager/ResumeManager/.vs/ResumeManager/FileContentIndex/221b1a3e-bcea-4620-8d69-a06063e4d22f.vsidx
/ResumeManager/ResumeManager/.vs/ResumeManager/FileContentIndex/6295f27d-b618-4b6f-a0c2-0415c268d3b4.vsidx
/ResumeManager/ResumeManager/.vs/ResumeManager/FileContentIndex/7584004b-194b-4d02-a1c5-1ac9ba56de0b.vsidx
/ResumeManager/ResumeManager/.vs/ResumeManager/FileContentIndex/aa2982b5-37cd-40a6-9da1-da1afc19caff.vsidx
/ResumeManager/ResumeManager/.vs/ResumeManager/FileContentIndex/f61fbbd9-8911-4966-80fc-5280c895a715.vsidx
/ResumeManager/ResumeManager/.vs/ResumeManager/v14/.suo
/ResumeManager/ResumeManager/.vs/ResumeManager/v17/.futdcache.v2
